.about-container {
  background-color: #ffffff;
  max-width: 100%;
  text-align: center;
  padding: 20px 0 40px 0;
  min-height: 100vh;
  margin-top: 4rem;
}

.about-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.about-content {
  max-width: 85%;
  margin: auto;
  text-align: center;
}

.about-main-title {
  /* font-family: Aboreto, serif; */
  display: flex; /* keep image and text inline */
  align-items: center; /* vertically center the image */
  justify-content: center; /* center both image and text horizontally */
  gap: 10px; /* space between image and text */
  font-size: 2.5rem; /* adjust size */
  font-weight: 500;
  color: #385070;
}

.about-img {
  width: 4rem;
  height: auto; /* maintain aspect ratio */
  object-fit: contain;
}

.about-para {
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  line-height: 2.7rem;
  color: #385070;
}

.about-unique-para {
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  color: #385070;
  font-weight: 600;
  margin: 15px auto 2rem;
  max-width: 800px;
}

.about-link {
  text-decoration: underline;
  font-size: 1.2rem;
  color: #385070;
  font-weight: 600;
  margin-top: 0.8rem;
}

.about-skills-container {
  max-width: 85%;
  margin: 3rem auto;
  padding: 5rem 0; /* consistent space above & below */
  text-align: center;
}

.about-skills-heading {
  /* font-family: Aboreto, serif; */
  color: #385070;
  letter-spacing: 1px;
  font-size: 2.3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.about-skills-boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.7rem;
  padding: 0 10px;
}

.about-skill-box {
  color: #385070;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #385070;
  box-shadow: 1px 1px 3px #385070;
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 1.5rem 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  letter-spacing: 0.3px;
  font-weight: 600;
}

.about-badges-container {
  margin-top: 3rem;
}

.about-badges-inner-conatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.about-badges-heading {
  /* font-family: Aboreto, serif; */
  color: #385070;
  letter-spacing: 1px;
  line-height: 3.5rem;
  font-size: 2.3rem;
  font-weight: 400;
}

.about-badges-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  margin: 20px auto;
  width: 80%;
  box-sizing: border-box;
}

.about-badges-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #385070;
  box-shadow: 1px 1px 3px #385070;
  overflow: hidden;
  cursor: pointer;
  padding: 20px 8px;
  flex: 1 1 calc(30.333% - 10px);
  min-width: 1rem;
  height: 12rem;
  text-align: center;
  box-sizing: border-box;
}

.about-badges-card-img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  border: 1px solid #385070;
  object-fit: contain;
}

.about-badges-card:nth-child(1) .about-badges-card-img,
.about-badges-card:nth-child(2) .about-badges-card-img {
  border: none;
}

@media screen and (max-width: 768px) {
  .about-badges-card {
    flex: 1 1 45%;
    height: 10rem;
  }
  .about-skills-container {
    margin: 1rem auto;
  }
}

@media screen and (max-width: 480px) {
  .about-badges-card {
    flex: 1 1 90%;
    height: 8rem;
  }
  .about-badges-card-container {
    gap: 1rem;
  }
  .about-main-title,
  .about-skills-heading,
  .about-badges-heading {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: -1rem;
  }
  .about-para {
    font-size: 1.2rem;
  }
  .about-img {
    width: 40px;
    height: auto;
  }
}
