.footer-container {
  background: linear-gradient(to right, #4a74ab, #385070);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-inner-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.3rem;
}

.footer-image {
  max-width: 8rem;
  height: auto;
  cursor: pointer;
  object-fit: cover;
  opacity: 1;
  margin-top: -1rem;
  margin-bottom: -1.5rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer-icons a {
  color: #ffffff;
  font-size: 24px;
}

.footer-para {
  color: #ffffff;
  font-size: 0.8rem;
}

@media (max-width: 600px) {
  .footer-heading {
    font-size: 1.2rem;
  }
  .footer-icons a {
    font-size: 20px;
  }
  .footer-image {
    max-width: 6rem;
  }
}
